@model Practic.Models.ServiceName

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Служба</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Служба
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameofService)
        </dd>
        <dt class = "col-sm-2">
            Цех
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
