@model Practic.Models.Currency

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>
<div>
    <h4>Валюта</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название валюты
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameofCurrency)
        </dd>
        <dt class = "col-sm-2">
            Страна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryofCurrency)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
