@model Practic.Models.Firm

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Фирма</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Страна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.СountryofFirm)
        </dd>
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameofFirm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
